*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header , footer{
    width: 100%;
    height: 20vh;
    background-color: yellow;
}
div{
    width: 100%;
    height: 60vh;
    display: flex;
}
aside , nav{
    width: 20%;
    height: 100%;
}

aside{
    background-color: pink;
}
nav{
    background-color: lightgreen;
}
article{
    width: 60%;
}
h1{
    padding: 20px;
}