* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* BODY */
body {
  font-family: Arial, sans-serif; 
  line-height: 1.5; 
  
}

/*HEADER*/
header {
  background-color: yellow;
  text-align: center; 
  padding: 20px; 
}

/*NAVIGASI*/
nav {
  background-color: blue; 
  padding: 10px;
}

nav ul {
  list-style-type: none; 
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

nav a {
  text-decoration: none; 
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: blue; 
}

/*LAYOUT UTAMA (ARTICLE + ASIDE)*/
.container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  padding: 20px;
}

/*= ARTICLE */
article {
  flex: 3; 
  background-color: red; 
  padding: 20px;
  margin-right: 10px;
  border-radius: 10px;
}

article section {
  background-color: gray; 
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
}

/*ASIDE */
aside {
  flex: 1; 
  background-color: #5edfff; 
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

aside img {
  width: 100%; 
  border-radius: 10px;
  margin-top: 10px;
}

/*FOOTER*/
footer {
  background-color: #ffe45e;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}


