*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: whitesmoke;
    padding: 20px;
}

#container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    border-radius: 8px;
}

.box{
    border: 2px solid black;
    border-radius: 5px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

.header{
    background-color: lightgreen;
    height: 120px;
    width: 100%;
}